# problem06

In [ ]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

---
### 문제 1
`scores` 딕셔너리에 있는 모든 학생의 이름을 한 줄에 하나씩 출력하세요.

In [3]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
for name in scores :
    print(name)

Alice
Bob
Charlie
David
Eve

### 문제 2
`scores` 딕셔너리의 모든 점수를 더하여 총합을 출력하세요.

In [5]:
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

total =sum(scores.values())
print(total)

438

### 문제 3
모든 학생의 이름과 점수를 `Alice : 85` 와 같은 형식으로 출력하세요.

In [ ]:
# 코드를 여기에 작성하세요
scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}

### 문제 4
점수가 90점 이상인 '우수 학생'의 명단을 리스트 형식으로 만들어 출력하세요.

In [ ]:
# 코드를 여기에 작성하세요

### 문제 5
기존 `scores` 딕셔너리를 사용하여, 점수가 80점 이상이면 'Pass', 미만이면 'Fail'을 값으로 가지는 새로운 딕셔너리를 만드세요.

In [ ]:
# 코드를 여기에 작성하세요