In [ ]:
name = 'alex'

# list
# 1. 여러 개의 데이터를 저장한다.
# 2. 순서를 가진다.
    # 순서를 가져야 하는 이유 -> 개별 데이터에 접근하기 위해서.

alex
jun
jun

### 데이터 조회(index)

In [ ]:
names = ['alex', 'ken', 'jun']

# alex라는 데이터에 접근하고 싶어.
# print( names의 0번째 데이터를 줘)
print(names[0])

print(names[2])

name = names[2]
print(name)

### 데이터 수정

In [6]:
name = 'jun' # ken으로 바꾸고 싶어.
name = 'ken' # 재할당, 덮어쓰기를 할 수 있습니다.

print(name)

names = ['alex', 'ken', 'jun']

# 'jun'이란 데이터를 'kyle'로 바꾸고 싶음.
# names의 2번째 자리에 'kyle'을 넣고 싶음.
names[2] = 'kyle'

print(names)

ken
['alex', 'ken', 'kyle']

In [9]:
family_name = ['유인나', '유재석', '유인촌', '유유유']
print(family_name[0])
print(family_name[1])
print(family_name[2])
print(family_name[3])
# print(family_name[4]) index error

유인나
유재석
유인촌
유유유

### 음의 인덱스

In [4]:
lst = ['a', 'b', 'c', 'd', 'e']
#       0    1    2    3    4
#                 5-3  5-2  5-1
#                 -3  -2   -1

print(lst[-1])

e

# 슬라이싱

list를 잘라서 새로운 list를 만드는 방법

In [10]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(lst[2:6])
# 인덱스가 생략되면 '전체'의 의미입니다.
# 앞의 생략되면 -> 처음부터 / 뒤가 생략되면 -> 끝까지.
print(lst[:6])
print(lst[3:])
# 얕은 복사.
print(lst[:])

# step
print(lst[::2])
print(lst[::-1])

['c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']
['d', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'c', 'e', 'g']
['g', 'f', 'e', 'd', 'c', 'b', 'a']

# 멤버십 연산자

list에 값이 들어있는지를 확인하는 연산자

In [13]:
print(1 in [1, 2, 3, 4])
print(10 in [1, 2, 3, 4])

print(10 not in [1, 2, 3, 4])

True
False
True

In [14]:
lst = ['a', 'b', 'c', 'd']

for i in range(len(lst)):
    el = lst[i]
    # 인덱스 : i / 값 : el

for i, el in enumerate(lst):
    print(i, el)

0 a
1 b
2 c
3 d

# 리스트의 메서드들(함수들)

In [ ]:
# 값을 삽입하는 메서드
lst = [1, 2, 3, 4]

lst.append(5)

print(lst)

[1, 2, 3, 4, 5]

In [18]:
# 값을 삭제하는 메서드
lst = [1, 2, 3, 4]

popped_el = lst.pop()

print(lst)
print(popped_el)

lst = [1, 2, 3, 4]

lst.pop(2) # index를 지정해서 삭제
print(lst)

[1, 2, 3]
4
[1, 2, 4]

# 리스트 컴프리헨션

리스트를 간편하게 만드는 방법 (규칙에 따라서)

In [19]:
# lst = [1, 2, 3, 4, 5, 6]
lst = []
for num in range(1, 7):
    lst.append(num)

print(lst)

[1, 2, 3, 4, 5, 6]

In [20]:
lst = [num for num in range(1, 7)]
print(lst)

[1, 2, 3, 4, 5, 6]

In [21]:
# 짝수로만 만들어진 list
lst = []
for num in range(1, 21):
    if num % 2 == 0:
        lst.append(num)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lst = [num for num in range(1, 21) if num % 2 == 0]
print(lst)

[5, 9, 13, 17, 21, 25, 29, 33, 37, 41]