
### 문제 1
사용자로부터 정수 `n`을 입력받아, 1부터 `n`까지 모든 정수의 합을 출력하세요.

### 문제 2

지정된 비밀번호(예: `"python123"`)가 입력될 때까지 계속해서 입력을 받는 프로그램을 작성하세요. 틀릴 경우 "다시 시도하세요"를 출력합니다.

### 문제 3

1부터 30까지의 숫자 중에서 3의 배수를 제외한 나머지 숫자들만 출력하세요.

### 문제 4
`names = ['jun', 'ken', 'alex', 'sophia', 'neo']` 일 때,

출석번호를 포함하여 '1번 jun', ..., '5번 neo'의 형태로 출석을 부르시오.

In [ ]:
names = ['jun', 'ken', 'alex', 'sophia', 'neo']

### 문제 5
```
names = ['jun', 'alex', 'ken']
ages = [18, 28, 37]
``` 
일 때,
```
jun 18
alex 28
ken 37
```
을 출력하시오.

In [ ]:
names = ['jun', 'alex', 'ken']
ages = [18, 28, 37]

### 문제 6

사용자로부터 숫자를 계속 입력받다가, `0`을 입력하면 지금까지 입력된 모든 숫자의 합계를 출력하고 종료하는 프로그램을 작성하세요.

### 문제 7

1부터 20까지의 숫자 중 홀수는 건너뛰고, 짝수들만 더하다가 합계가 40을 넘으면 멈추고 합계를 출력하는 프로그램을 작성하세요.