
### 문제 1
사용자로부터 정수 `n`을 입력받아, 1부터 `n`까지 모든 정수의 합을 출력하세요.

In [ ]:
# 1. 사용자에게 정수를 입력받는다.
# 2. 1, 2, 3, 4, ... n을 출력한다.

n = int(input())
total = 0
for num in range(n):
    total += num+1
print(total)
print()

total = 0
for num in range(1, n +1):
    total += num
print(total)
print()

total = 0
num = 1
while True:
    total += num
    num += 1
    if num > n:
        break
print(total)
print()

total = 0
num = 1
while num <= n:
    total += num
    num += 1
print(total)
print()

10

10

10

20

### 문제 2

지정된 비밀번호(예: `"python123"`)가 입력될 때까지 계속해서 입력을 받는 프로그램을 작성하세요. 틀릴 경우 "다시 시도하세요"를 출력합니다.

In [13]:
password = "aa11"
while True:
    user_input = input()
    if user_input == password:
        print('성공')
        break
    else:
        print('다시 시도하기')

다시 시도하기
다시 시도하기
다시 시도하기
다시 시도하기
성공

In [14]:
password = "aa11"
user_input = input()
while user_input != password:
    
    print('다시 시도하기')
    user_input = input()
print('성공')

다시 시도하기
다시 시도하기
다시 시도하기
성공

### 문제 3

1부터 30까지의 숫자 중에서 3의 배수를 제외한 나머지 숫자들만 출력하세요.

In [1]:
# 1. 1 ~ 30까지의 숫자에 대해서 특정 동작을 반복한다.
    # for / while

# 2. 3의 배수를 제외하고 출력한다.
    # a. 3의 배수인지 아닌지 판단하고, 배수가 아니라면 출력해
    # b. 싹다 출력해. 단, 3의 배수는 출력하지 마.

# for.a
for num in range(1, 31):
    # 3으로 나눠서 떨어지면, 즉 나머지가 0이면 배수
    # 3으로 나눠서 나머지가 0이 아니면 배수가 아닙니다.
    # if num % 3 == 0:
    #     (아무것도 안함)
    if num % 3 != 0:
        print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [2]:
for num in range(1, 31):
    # 3의 배수면 출력하지 마!
    # 예외를 처리하는 형식의 코드
    if num % 3 == 0:
        continue
    print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

In [3]:
num = 1
while num < 31:
    
    # 메인 로직
    if num % 3 != 0:
        print(num)
    num +=1

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

### 문제 4
`names = ['jun', 'ken', 'alex', 'sophia', 'neo']` 일 때,

출석번호를 포함하여 '1번 jun', ..., '5번 neo'의 형태로 출석을 부르시오.

In [5]:
names = ['jun', 'ken', 'alex', 'sophia', 'neo']

for i in range(len(names)):
    name = names[i]
    print(i+1, '번', name)

1 번 jun
2 번 ken
3 번 alex
4 번 sophia
5 번 neo

In [7]:
names = ['jun', 'ken', 'alex', 'sophia', 'neo']

i = 0
while i < len(names):
    name = names[i]
    i = i + 1
    print(i, '번', name)

1 번 jun
2 번 ken
3 번 alex
4 번 sophia
5 번 neo

### 문제 5
```
names = ['jun', 'alex', 'ken']
ages = [18, 28, 37]
``` 
일 때,
```
jun 18
alex 28
ken 37
```
을 출력하시오.

In [8]:
names = ['jun', 'alex', 'ken']
ages = [18, 28, 37]

n = len(names) # 리스트의 길이

# print(names[0], ages[0])
# print(names[1], ages[1])
# print(names[2], ages[2])
for i in range(n):
    name = names[i]
    age = ages[i]
    print(name, age)

jun 18
alex 28
ken 37

### 문제 6

사용자로부터 숫자를 계속 입력받다가, `0`을 입력하면 지금까지 입력된 모든 숫자의 합계를 출력하고 종료하는 프로그램을 작성하세요.

In [9]:
total = 0
while True :
    number = int(input())
    if number == 0:
        break
    total += number
print(total)

15

### 문제 7

1부터 20까지의 숫자 중 홀수는 건너뛰고, 짝수들만 더하다가 합계가 40을 넘으면 멈추고 합계를 출력하는 프로그램을 작성하세요.

In [ ]:
# 1. 1부터 20까지의 숫자
    # for -> 1 ~ 20

# 2. 홀수는 건너뛰고
    # a. 짝수만 진행한다.
    # b. 홀수는 진행하지 않는다.

# 3. 합계를 확인한다.

In [11]:
total = 0
for num in range(1, 21):
    if num % 2 == 0: # 짝수만 진행.
        total += num
        if total >= 40:
            break
print(total)

42

In [12]:
total = 0
for num in range(1, 21):
    if num % 2 != 0: # 홀수
        continue

    total += num
    if total >= 40:
        break
        
print(total)

42